# RPA with PyAutoGUI
<h1>PERRRRO</h1>
Esta funcioun hace tal cosa jhafikhsadkfausglaisug

In [5]:
import pyautogui as rpa
import webbrowser as wb
sigaaPath = 'https://sso.upb.edu.co/authenticationendpoint/login.do?Name=PreLoginRequestProcessor&commonAuthCallerPath=%252Fcas%252Flogin&forceAuth=true&passiveAuth=false&service=https%3A%2F%2Fsigaa.upb.edu.co%3A443%2Fssomanager%2Fc%2FSSB&tenantDomain=carbon.super&sessionDataKey=3b5f5a98-3367-43d3-95e9-ad75057ba136&relyingParty=ssb-banpdn&type=cas&sp=ssb-banpdn&isSaaSApp=false&authenticators=BasicAuthenticator:LOCAL'
sigaaPath2 = 'https://sigaa.upb.edu.co/ssomanager/c/SSB'
user = '000290164'
password = 'Tandres1997_'

In [6]:
wb.open(sigaaPath2)

True

In [24]:
import requests
from bs4 import BeautifulSoup
import webbrowser as wb
from selenium import webdriver
wb.open('https://sigaa.upb.edu.co/BANPDN/bzsksmrk.p_write_grade_detail?term_in=202010&crn_in=76435&calling_proc_in=bzskmgrd.p_write_midterm_grades')

True

In [22]:
import pandas as pd 
table2 = pd.read_csv('./csv/table2.csv')
table2

,Título,Puntaje,Calificación,Debe Aprobar,Peso,Incluir enParcial o Final,Subcomponentes
0,NOTA 1 - PRE CI,5,5.0,Y,20,Final,Ninguno
1,NOTA 2 - INF CI,5,5.0,Y,10,Final,Ninguno
2,NOTA 3 - DES CI,5,5.0,Y,20,Final,Ninguno
3,NOTA 4 - PRE EP,5,5.0,Y,20,Final,Ninguno
4,NOTA 5 - INF EP,5,5.0,Y,10,Final,Ninguno
5,NOTA 6 - DES EP,5,5.0,Y,20,Final,Ninguno

In [24]:
table2 = pd.read_csv('./table2.csv')
numNotas = table3['Calificación'].size
for i in range(0,numNotas-1):
    print(table2.at[i, 'Puntaje'])

5.0
5.0
4.5
5.0
5.0

In [25]:
table3 = pd.read_csv('./csv/table3.csv')
table3

,Título,Puntaje,Calificación,Debe Aprobar,Peso,Incluir enParcial o Final,Subcomponentes
0,NOTA 1 - PRE CI,5,5.0,Y,20,Final,Ninguno
1,NOTA 2 - INF CI,5,5.0,Y,10,Final,Ninguno
2,NOTA 3 - DES CI,5,5.0,Y,20,Final,Ninguno
3,NOTA 4 - PRE EP,5,5.0,Y,20,Final,Ninguno
4,NOTA 5 - INF EP,5,5.0,Y,10,Final,Ninguno
5,NOTA 6 - DES EP,5,5.0,Y,20,Final,Ninguno

In [26]:
table3 = pd.read_csv('./table3.csv')
numNotas = table3['Calificación'].size
for i in range(0,numNotas-1):
    print(table3.at[i, 'Puntaje'])

0 5
1 5
2 5
3 5
4 5